window#eDP-1 {
	background-image: url("~/Pictures/Wallpapers/night-artwork-futuristic-city-cyberpunk-wallpaper.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}
